
<div>
    <h2>About</h2>
    <p>
        {{#if boolT}}
            <p>numbers</p>
            <ul>
                {{#each numbers}}
                    <li><p>{{this}}</p></li>
                {{/each}}
            </ul>
        {{/if}}
    </p>
</div>
