<h2>
    Add
</h2>

<form name="userAddForm" action="/add" method="post">
    <div>
        <input id="inputName" name="nameTitle" type="text" placeholder="name" size="40" style="margin-bottom: 20px">
    </div>
    <div>
        <input id="inputAge" name="ageTitle" type="number" placeholder="age" style="width: 295px; margin-bottom: 20px">
    </div>
    <button type="submit" id="button">Save</button>
    
</form>


