<h2>Find</h2>

<form name="userFindForm" action="/find" method="post">
    <input type="number" name="elemId" placeholder="id">
    <button type="submit">Find</button>
</form>

<div>
    <ul>
        <li>
            
            {{element}}
            
        </li>
    </ul>
</div>



